<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bower-components/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="container-fluid">
{% include("_navbar.html.twig") %}
<header class="col-md-10 col-md-offset-1 well">
    <h1>Mon forum</h1>
</header>

<div class="pull-right">
    {% block bouton1 %}{% endblock %}
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-1">
        {% block body %}{% endblock %}
    </div>

    <aside class="col-md-3">
        {% block aside %}{% endblock %}
    </aside>
</div>

{% block javascripts %}
    <script src="{{ asset('bower-components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower-components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
