{% extends 'base.html.twig' %}
{% block bouton1 %}
<a class="btn btn-default" href="{{  path('admin_themes') }}">Admin</a>
{% endblock %}
{% block body %}

    <h1>Liste des thèmes</h1>

    <table class="table">
        <tbody>
        {% for theme in themeList %}
            <tr>
                <td>
                    <a href="{{ path('theme_details', {'slug': theme.slug}) }}">
                        {{ theme.name }}
                    </a>
                </td>
                {# on utilise numberOfPosts créer dans ma méthode avec queryBuilder#}
                <td>{{ theme.numberOfPosts }} posts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{# on afiche dans un aside ( celui de notre maquette) une liste du nombres de posts par années #}
{% block aside %}
<h3>Les posts par années</h3>
<ul>
    {% for item in postList %}
        <li><a href="{{ path('post_by_year',{'annee' : item.yearPublished}) }}">{{ item.yearPublished }} ({{ item.numberOfPosts }})</a></li>
    {%  endfor %}


</ul>
{% endblock %}


